*.iml
.gradle
/build
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.idea/libraries
.idea/tasks.xml
.idea/vcs.xml
.idea/workspace.xml
/out/

.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
bin/
gen/
*.class
.iws
.ipr
.iml